@import "../src/styles/contact.scss";

body {
  margin: 0;
  font-family: 'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  border-radius: 0.5rem;
}

:root {
  --dark-mode-beige: #DFD9CA;
  --dark-mode-pink: #FCB9B4;
  --dark-mode-green: #95c291;
  --dark-mode-background: #222222;
  --dark-mode-card-background: #333333;
  --dark-mode-font-color: #FFFAF1;

  --light-mode-beige: #483c32;
  --light-mode-pink: #f5347f;
  --light-mode-green: #234f1e;
  --light-mode-background: #eeeeee;
  --light-mode-card-background: #ffffff;
  --light-mode-font-color: #222222;
}

h1 {
  font-size: 40px;
  letter-spacing: 1rem;
}

@media screen and (max-width: 767px) {
  .btn {
    width: 100%;
    margin: 0.5rem auto;
  }
}

p {
  font-size: 20px;
}

.navigation {
  border-radius: 0;
}

.logo {
  width: 45px;
  height: 45px;
  background: url("assets/personal-logo-transparent.png") no-repeat;
  background-size: contain;
  border-radius: 100%;
}

.fade {
  transition: opacity 400ms ease-out; 
}